<h1>All our Flats</h1>

<div class="row mt-4">
  <% @flats.each do |flat| %>
    <div class="col-4">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
          <p class="card-text"><i class="fas fa-users mr-1"></i><%= flat.number_of_guests %><i class="fas fa-dollar-sign ml-3 mr-1"></i><%= flat.price_per_night %></p>
          <%= link_to 'More info', flat_path(flat), class: 'mr-3' %>
          <%= link_to 'Edit', edit_flat_path(flat), class: 'mr-3', style: 'color: #FDCC0D;' %>
          <%= link_to '🗑', flat_path(flat), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
